In [1]:
#tuple
In [3]: nested_tup = (4, 5, 6), (7, 8)
In [4]: nested_tup

((4, 5, 6), (7, 8))

In [11]:
In [6]: tup = tuple('string')
In [7]: tup

('s', 't', 'r', 'i', 'n', 'g')

In [3]:
 tup[4]

'n'

In [7]:
tup = tuple(['foo', [1, 2], True]
tup[2] = False
tup[1].append(3)
tup

SyntaxError: invalid syntax (<ipython-input-7-8c0b2853dea5>, line 2)

In [8]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [12]:
  (4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [13]:
In [18]: tup = 4, 5, (6, 7)
In [19]: a, b, (c, d) = tup
In [20]: d

7

In [15]:
 seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
 for a, b, c in seq:
      print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [16]:
In [29]: values = 1, 2, 3, 4, 5
In [30]: a, b, *rest = values
In [31]: a, b

(1, 2)

In [17]:
In [32]: rest

[3, 4, 5]

In [18]:
#list
In [36]: a_list = [2, 3, 7, None]
In [37]: tup = ('foo', 'bar', 'baz')
In [38]: b_list = list(tup)
In [39]: b_list

['foo', 'bar', 'baz']

In [19]:
In [40]: b_list[1] = 'peekaboo'
In [41]: b_list

['foo', 'peekaboo', 'baz']

In [22]:
 b_list.append('dwarf')
 b_list

['foo', 'peekaboo', 'baz', 'dwarf', 'dwarf', 'dwarf']

In [23]:
 b_list.insert(1, 'red')
 b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf', 'dwarf', 'dwarf']

In [25]:
 b_list.pop(2) 
 b_list

['foo', 'red', 'dwarf', 'dwarf', 'dwarf']

In [26]:
'dwarf' in b_list

True

In [27]:
'dwarf' not in b_list

False

In [28]:
#sorting
In [64]: b = ['saw', 'small', 'He', 'foxes', 'six']
In [65]: b.sort(key=len)
In [66]: b

['He', 'saw', 'six', 'small', 'foxes']

In [30]:
In [67]: import bisect
In [68]: c = [1, 2, 2, 2, 3, 4, 7]
In [69]: bisect.bisect(c, 2)

4

In [31]:
bisect.bisect(c, 5)

6

In [32]:
In [71]: bisect.insort(c, 6)
In [72]: c

[1, 2, 2, 2, 3, 4, 6, 7]

In [33]:
In [73]: seq = [7, 2, 3, 7, 5, 6, 0, 1]
In [74]: seq[1:5]

[2, 3, 7, 5]

In [34]:
In [75]: seq[3:4] = [6, 3]
In [76]: seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [35]:
In [79]: seq[-4:]

[5, 6, 0, 1]

In [36]:
In [80]: seq[-6:-2]

[6, 3, 5, 6]

In [37]:
seq[::2]

[7, 3, 3, 6, 1]

In [38]:
In [83]: some_list = ['foo', 'bar', 'baz']
In [84]: mapping = {}
In [85]: for i, v in enumerate(some_list):
 mapping[v] = i
In [86]: mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [39]:
In [89]: seq1 = ['foo', 'bar', 'baz']
In [90]: seq2 = ['one', 'two', 'three']
In [91]: zipped = zip(seq1, seq2)
In [92]: list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [41]:
In [95]: for i, (a, b) in enumerate(zip(seq1, seq2)):
 print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [44]:
In [96]: pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]
In [97]: first_names, last_names = zip(*pitchers)
In [98]: last_names

('Ryan', 'Clemens', 'Curt')

In [45]:
In [121]: mapping = dict(zip(range(5), reversed(range(5))))
In [122]: mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [49]:
 words = ['apple', 'bat', 'bar', 'atom', 'book']
 by_letter = {}
 for word in words:
              letter = word[0]
              if letter not in by_letter:
                 by_letter[letter] = [word]
              else:
                   by_letter[letter].append(word)
 by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [50]:
In [127]: hash('string')

-1547704911508246993

In [51]:
hash((1, 2, (2, 3)))

1097636502276347782

In [52]:
#set
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [55]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [56]:
 a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [57]:
a.intersection(b)

{3, 4, 5}

In [58]:
In [141]: c = a.copy()
In [142]: c |= b
In [143]: c

{1, 2, 3, 4, 5, 6, 7, 8}

In [59]:
In [147]: my_data = [1, 2, 3, 4]
In [148]: my_set = {tuple(my_data)}
In [149]: my_set

{(1, 2, 3, 4)}

In [60]:
In [150]: a_set = {1, 2, 3, 4, 5}
In [151]: {1, 2, 3}.issubset(a_set)

True

In [61]:
In [154]: strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
In [155]: [x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [62]:
 loc_mapping = {val : index for index, val in enumerate(strings)}
 loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [6]:
In [161]: all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
                       ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
names_of_interest = [] 
for names in all_data:   
    enough_es = [name for name in names if name.count('e') >= 2]    
    names_of_interest.extend(enough_es) 
result = [name for names in all_data for name in names
           if name.count('e') >= 2]
result

['Steven']

In [8]:
def my_function(x, y, z=1.5):  
    if z > 1:        
        return z * (x + y)   
    else:        
         return z / (x + y)

In [13]:
def f():   
    a = 5   
    b = 6   
    c = 7    
    return {'a' : a, 'b' : b, 'c' : c}

In [14]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [2]:
 states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
           'south   carolina##', 'West virginia?']

In [5]:
import re
def clean_strings(strings):    
    result = []    
    for value in strings:       
        value = value.strip()        
        value = re.sub('[!#?]', '', value)       
        value = value.title()        
        result.append(value)    
    return result
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [6]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']